@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* Unversal Web */
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    max-width: 1440px;
}

/* Nav Bar */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
    height: 100px;
}
#nav h3{
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
#nav button{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgb(13, 19, 33);;
    background: none;
    font-size: 12px;
    font-weight: 600;
    color: rgb(97, 97, 97);
    cursor: pointer;
}

/* Hero Sections */
.hero{
    background-image: url("../assets/Hero-bg.png");
    background-position: cover;
    background-repeat: no-repeat;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero h1{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}
.hero p{
    text-align: center;
    color: rgb(13, 19, 33);
    margin: 24 px 0 32px 0;
}
.hero button{
    padding: 15px 17px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin-top: 10px;
    cursor: pointer;
}
.hero a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/* Why Web Develpment */
.ww_development{
    max-width: 1140px;
    height: 1200px;
    margin: 80px auto;
    padding: 70px 85px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wwd-top{
    text-align: center;
}
.wwd-top h1{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}
.wwd-top p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
}
/* card informaiton */
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-information{
    width: 70%;
    background-color: white;
    padding: 48px;
    border-radius: 25px 0 0 25px;
    margin-right: 40px;
}
.card-information h1{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}
.card-information p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 32px 0 32px 0;

}
.card-information button{
    font-size: 18px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 12px 20px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
}
/* my-ispiration */
.my-ispiration{
    max-width: 1140px;
    height: 775px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.my-ispiration .information h1{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.my-ispiration .information p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}
.video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1108px;
    height: 582px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.youtube-video{
    width: 1076px;
    height: 550px;
    border-radius: 10px;
}
/* My current target */
.current-target{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.current-information{
    text-align: center;
}
.current-information h1{
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.current-information p{
    margin-bottom: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(87, 87, 87);
}
.current-card-div{
    display: flex;
    gap: 20px;
}
.current-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 25px;
    border-radius: 10px;
    width: 364px;
    height: 300px;
}
.current-card img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px ;
}
.current-card h1{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.current-card p{
    margin: 20px 0 25px 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(87, 87, 87);
}
.current-card a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* Next target */
.next-target{
    display: flex;
    flex-direction: column;
    margin-top: 111px;
}
.next-information{
    text-align: center;
}
.next-information h1{
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.next-information p{
    margin: 24px 0 48px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(87, 87, 87);
}
.next-target-div{
    display: flex;
    flex-direction: column;
    gap: 24px;

}
.next-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}
.next-card .image{
    margin-right: 24px;
}
.next-card h1{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.next-card p{
    margin: 8px 0 24px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(87, 87, 87);
}
.next-card a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* Support Section */
.support-sections{
    width: 1140px;
    height: 315px;
    background-image:  linear-gradient(180.00deg, rgb(0, 0, 0),rgba(0, 0, 0, 0) 100%),  url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.support-padding{
    padding: 64px 48px;
}
.support-sections-div1{
    text-align: center;
}
.support-sections-div1 h1{
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 36px;
    
}
.support-sections-div1 p{
    margin: 8px 0 24px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(196, 196, 196);
}
.support-sections-div2{
    display: flex;
    flex-direction: row;
    gap: 16px;
    
}
.support-sections-div2 input{
    width: 548px;
    padding: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.support-sections-div2 button{
    width: 120px;
    height: 58px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}
/* Footer section */
footer{
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
}
footer p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}
footer img{
    width: 36px;
    height: 36px;
}
footer .margin-img{
    margin: 0 24px 0 24px;
}
html{
    scroll-behavior: smooth;
}
.hide{
    display: none;
}

/* Media Query For 576px */
@media screen and (max-width: 576px) {
    /* My target */
    .current-card-div{
        flex-direction: column;
        align-items: center;
    }
    .next-target{
        margin-top: 50px;
    }
    .next-target-div{
        padding: 10px;
    }
    .next-card{
        padding: 25px 25px;
        flex-direction: column;
        text-align: justify;
        box-shadow: 1px 0px 12px 0px #bbbbbb;
    }
    /* For support section */
    .support-sections{
        width: 576px;
        height: auto;
    }
    .support-padding{
        padding: 64px 10px;
    }
    .support-sections-div2{
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    .support-sections-div2 input{
        width: 400px;
    }
}
